<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>@ViewBag.Title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- estilos initializr -->
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/initializr/css/normalize.min.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/initializr/css/main.css")">
        <!-- estilos bootstrap -->
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")"/>
        <!-- estilos globales layout -->
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ternium/layout.css")"  />
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/ternium/bootstrap.css")"  />
        <!-- estilos de página -->
        @RenderSection("Styles", false)

        <!-- script initializr -->
        <script type="text/javascript" src="@Url.Content("~/Scripts/initializr/js/vendor/modernizr-2.6.2.min.js")"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="content-header">
            <nav class="navbar navbar-inverse navbar-fixed-top navbarText" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand info-brand" href="#">Ternium</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse bs-navbar-collapse">
                    <!-- <p class="navbar-text info-linea">
                        @ViewBag.Title / @ViewBag.Linea
                    </p> -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#mdlUbicaciones">
                                <span class="glyphicon glyphicon-globe">
                            </button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default navbar-btn">
                                <span class="glyphicon glyphicon-flash">
                            </button>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Aplicaciones <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">SIO</a>
                                    <ul class="dropdown-menu float-right">
                                        <li class="dropdown-submenu">
                                            <a href="#">Producción</a>
                                            <ul class="dropdown-menu float-right">
                                                <li><a href="#">Producción</a></li>
                                                <li><a href="#">Programación</a></li>
                                                <li><a href="#">Programación vs Real</a></li>
                                                <li><a href="#">Materiales disponibles</a></li>
                                                <li><a href="#">Reportes</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="#">Mantenimiento</a>
                                            <ul class="dropdown-menu float-right">
                                                <li><a href="#">Trendings</a></li>
                                                <li><a href="#">Histórico de alarmas</a></li>
                                                <li><a href="#">Histórico de comandos</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="#">Calidad</a>
                                            <ul class="dropdown-menu float-right">
                                                <li><a href="#">Producción integrada</a></li>
                                                <li><a href="#">Análisis de gráficas</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">SCD</a></li>
                                <li><a href="#">SGL</a></li>
                                <li><a href="#">DOC</a></li>
                                <li><a href="#">SCL</a></li>
                                <li><a href="#">SGA</a></li>
                                <li><a href="#">CIPP</a></li>
                                <li><a href="#">SGT</a></li>
                                <li><a href="#">SGR</a></li>
                                <li><a href="#">SID</a></li>
                                <li><a href="#">IDP</a></li>
                                <li><a href="#">TDS</a></li>
                                <li><a href="#">TIN</a></li>
                                <li><a href="#">GMA</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>


            <section>
                <ol class="breadcrumb">
                @RenderSection("Breadcrumbs", false)
                </ol>
            </section>

            <div class="container">
                @{
                    if(ViewBag.conToolbar){
                        <section>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div id="divToolbarContainer">
                                        <div class="contenedorGeneralFiltro">
                                            <div class="contenedorFiltroColapsable">
                                                <span>@ViewBag.TitleToolbar</span>
                                            </div>

                                            <div class="contenidoFiltros">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 color3">
                                                            <div id="divToolbar">
                                                                @RenderSection("Toolbar", true)
                                                            </div>

                                                        </div>
                                                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 color4">
                                                            <div id="divToolbarButtonRight">
                                                                    @RenderSection("ToolbarButtonRight", false)
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 color5">
                                                            <div id="divToolbarButtonBottom">
                                                                @RenderSection("ToolbarButtonBottom", false)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    }
                }
            </div>
        </div>

        <div class="container content-main">
            <section>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 color1">
                        <div id="divContent">
                            @RenderSection("Content", true)
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="container content-footer">
            <footer>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 color2">
                        <div id="divFooter">
                            @RenderSection("Footer", false)
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Modal (ubicaciones) -->
        <div class="modal fade" id="mdlUbicaciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h5 class="modal-title" id="hUbicaciones">Seleccione ubicación</h5>
                    </div>
                    <div class="modal-body">
                    #Aquí debería haber un mapa que permita seleccionar ubicaciones/lineas#
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal (ubicaciones) -->

        <!-- scripts initializr -->
        <script type="text/javascript" src="@Url.Content("~/Scripts/initializr/js/vendor/jquery-1.10.1.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/initializr/js/plugins.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/initializr/js/main.js")"></script>
        <!-- scripts jquery -->
        <script type="text/javascript" src="@Url.Content("~/Scripts/initilizr/js/vendor/jquery-1.10.1.js")"></script>
        <!-- scripts bootstrap -->
        <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap/js/bootstrap.js")"></script>
        <!-- scripts globales -->
        <script type="text/javascript" src="@Url.Content("~/Scripts/ternium/layout.js")"></script>
        <!-- renderiza scripts de la página -->
        @RenderSection("Scripts", false)
  </body>
</html>


